#table {
  margin: auto;
  width: 706px;
  height: 600px;
  border: 3px dotted white;
  border-radius: 15px;
  background: #408000;
}

.row {
  width: 30%;
  height:600px;
  float: left;
  display: inline-block;
}

.middle-row {
  width:39%;
}

.player {
  margin: 25px auto;
  width: 300px;
  height: 150px;
}
.player3 {
  margin-top: 300px;
  margin-left: -100px;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);

}

.player4 {
  margin-top: 150px;
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Safari */
  transform: rotate(270deg);

}
#cardBox {
  margin: 10px auto;
  width: 160px;
}

#deck{
  background: url(../cards/ace_of_diamonds.png) no-repeat;
  background-size: contain;
  width: 75px;
  height: 109px;
  float: left;
}
#playedCard{
  background: url(../cards/king_of_hearts.png) no-repeat;
  background-size: contain;
  float: right;
  width: 75px;
  height: 109px;
}
#messageBox {
  margin: 200px auto 10px auto;
  width: 200px;
  height: 30px;
  border: 1px solid black;
}

.c {
  background: url(../cards/3_of_clubs.png) no-repeat;
  background-size: contain;
  width: 75px;
  height: 109px;
  margin-left: -60px;
  float: left;
}
.hand {
  width: 200px;
  height: 140px;
  margin-left: 50px;
}


/* ==========================================================================
   CARDS ON TABLE
   ========================================================================== */

   .middle-row {
    position: relative;

      .cards_on_table {

        img {
          position: absolute;
          width: 30%;
          height: auto;
        }
      }
   }


