#table {
  margin: auto;
  height: 800px;
  border: 3px dotted white;
  border-radius: 15px;
  background: #408000;

  .messages {
    text-align: center;
    padding: .2rem;
    color: @brand-danger;
    margin-top: 1rem;
    display: inline-block;
    p {
      border: 1px solid @brand-danger;
      background-color: rgba(0, 0, 0, 0.4);
      vertical-align: middle;
      padding: 0;
      margin: 0;
      padding: 1rem;
    }
  }

  .game_users {
    border: 1px solid red;
  }
}

header {

  .user-form {
    display: block;

    .navbar-form {
      margin: 0;
      form {
        display: inline-block;
        margin: 0 auto;
      }
    }
  }
  .navbar-header {
    padding: 0;
    overflow: auto;
  }

  .count-users {
    display: inline-block;
    margin: 0;
    margin-left: 2rem;
  }
}


.player {
  margin: 25px auto;
  width: 300px;
  height: 150px;
}
.player3 {
  margin-top: 300px;
  margin-left: -100px;
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari */
  transform: rotate(90deg);
}
.player4 {
  margin-top: 150px;
  -ms-transform: rotate(270deg);
  /* IE 9 */
  -webkit-transform: rotate(270deg);
  /* Safari */
  transform: rotate(270deg);
}
#cardBox {
  margin: 10px auto;
  width: 160px;
}
#deck {
  background: url(../cards/ace_of_diamonds.png) no-repeat;
  background-size: contain;
  width: 75px;
  height: 109px;
  float: left;
}
#playedCard {
  background: url(../cards/king_of_hearts.png) no-repeat;
  background-size: contain;
  float: right;
  width: 75px;
  height: 109px;
}
#messageBox {
  margin: 200px auto 10px auto;
  width: 200px;
  height: 30px;
  border: 1px solid black;
}
.c {
  background: url(../cards/3_of_clubs.png) no-repeat;
  background-size: contain;
  width: 75px;
  height: 109px;
  margin-left: -60px;
  float: left;
}
.hand {
  width: 200px;
  height: 140px;
  margin-left: 50px;
}
/* ==========================================================================
   CARDS ON TABLE
   ========================================================================== */
.middle-row {
  position: relative;
}

#wrap {
  position: relative;
  .user-cards {
    display: inline-block;
  }

  .game-heading {
    color: @body-bg;
    text-align: center;
    font-size: 10rem;
  }
  .cards_on_table {
    display: inline-block;
    width: 50%;
    height: auto;
    img {
      width: 10%;
      height: auto;
      position: absolute;
    }
    // &:nth-child(1) {

    //   position: absolute;
    //   top: 50%;
    //   border: 1px solid red;
    //   left: 10%;
    // }
    //  &:nth-child(2) {
    //   position: absolute;
    //   top: 50%;
    //   border: 1px solid red;
    //   left: 20%;
    //  }
    // img {
    //   position: absolute;
    //   top: 60%;
    //   left: 40%;
    //   width: 10%;
    //   height: auto;
    //   padding: 0;
    // }
  }
  .user-cards {
    display: inline-block;
    float: left;

    img {
      width: 15%;
      height: auto;
      padding: 0;
      margin: 0 -2rem 0 0;
    }
    h4 {
      background-color: darken(@brand-warning, 10%);
      padding: .5rem;
      max-width: 20rem;
      text-align: center;
      color: @body-bg;
    }

    .active-user {
      cursor: pointer;
    }
  }
}


.cards-on-table-users {
  position: relative;
  margin: 0 auto;
  overflow: auto;
  .card-pos {
    display: table-cell;
    img{
      width: 80%;
      height: auto;
    }
  }
}
